*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@media (min-width:621px) and (max-width: 1000px){
   .menu{
        justify-content: space-between;
        padding: 0;
        align-items: center;
    }
    .nav-item{
        display: none;
    }
    .logo_img{
        margin-left: 30px;

    }
    .menu_items{
        margin-right: 0px;
    }
    .phone_number{
        font-size: 20px;
        font-weight: 400;
        margin-right: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .header h1{
        font-size: 72px;
        flex-wrap: wrap;
    }

    .header p{
        font-size: 20px;
    }

    .order{
        margin: 96px 0 48px 0;
    }
    .title2{
        font-size: 64px;
    }

    .card1 img{
        width: 112px;
    }
    .card1 h3{
        font-size: 32px;
    }

    .content2{
        padding-top: 80px;
        padding-bottom: 96px;
    }
    .content2 .title2{
        margin-bottom: 36px;
        margin-top: 36px;
    }
    .menu_speise{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 28px;
    }

    .menu_speise img{
        width: 352px;
        height: 352px;
    }

    .menu2{
        flex-direction: row-reverse;
    }

    table{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: end;
        color: #675E54;
        font-weight: bold;
        font-size: 21px;
    }

    .menu1 table, .menu3 table{
        margin-left: 24px;
    }
    .menu2 table{
        margin-right: 24px;
    }

    table .title3{
        font-size: 25px;
    }

    .find_us{
        margin-top: 96px;
        margin-bottom: 0;
    }
    .find_us h2{
        margin-bottom: 64px !important;
    }

    .footer .footer_logo{
        margin-left: 20px;
    }

    .footer ul{
        margin-right: 20px;
    }
}


@media (min-width: 355px ) and (max-width: 650px) {

    .menu{
        justify-content: space-between;
        padding: 0;
        align-items: center;
        
    }
     .logo_img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
    .menu_items{
        margin-bottom: 2px;
        margin-right: 0;
    }
    .nav-item{
        display: none;
    }
     .menu_link{
       margin: 0;
       margin-bottom: 80px;
     }
    .phone_number{
        font-size: 16px;
        font-weight: 400;
        margin-right: 30px;
       margin-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .header h1{
        font-size: 44px;
        flex-wrap: wrap;
    }

    .header p{
        font-size: 16px;
    }

    .section_order{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .order{
        margin: 72px 0 32px 0;
    }

    .section_order{
        margin: 0  0 72px 0;
    }
    .content1{
        flex-direction: column;
    }
    .card1{
        padding: 0;
        margin: 30px;
    }
    .card1 img{
        width: 112px;
    }
    .title2{
        font-size: 40px;
    }

    .card1 h3{
        font-size: 32px;
        margin-top: 8px;
    }

    .content2{
        justify-content: center;
        flex-direction: column;
        object-fit: cover;
        width: 100%;
        align-items: center;
    }
    .menu_speise{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 16px;
    }
    .menu_speise img{
        width: 350px;
        height: 350px;
    }

    .menu1, .menu2, .menu2{
        flex-direction: column;
    }
    table{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        color: #675E54;
        font-weight: bold;
        font-size: 24px;
    }

    .menu1 table, .menu3 table{
        margin-left: 0px;
    }
    .menu2 table{
        margin-right: 0px;
    }
    table .title3{
        font-size: 32px;
    }

    .footer{
        background-color: #0A141E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 86px;
    }

    .footer .footer_logo{
        width: 40px;
        display: none;
    }
    .footer .logo_img{
        display: block;
        margin-left: 20px;
    }
    .footer ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 10px;
    }

    .footer ul li img{
        height: 32px;
        width: 32px;
        margin: 10px;
    }

    .find_us{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
        line-height: 35px;
        padding-top: px;
    }
    .find_us h2{
        margin-bottom: 8px !important;
    }
    .find_us p{
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 40px 0;
        padding: 0;
    }

    .find_us p img{
    width: 32px;
    height:32px;
    margin-bottom: -9px;
    }
}


@media (min-width: 204px ) and (max-width: 355px) {

    .menu{
        justify-content: space-between;
        padding: 0;
        align-items: center;
        
    }
     .logo_img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }
    .menu_items{
        margin-bottom: 2px;
        margin-right: 0;
    }
    .nav-item{
        display: none;
    }
     .menu_link{
       margin: 0;
       margin-bottom: 80px;
     }
    .phone_number{
        font-size: 16px;
        font-weight: 400;
        margin-right: 30px;
       margin-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .header h1{
        font-size: 44px;
        flex-wrap: wrap;
    }

    .header p{
        font-size: 16px;
    }

    .section_order{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .order{
        margin: 72px 0 32px 0;
    }

    .section_order{
        margin: 0  0 72px 0;
    }
    .content1{
        flex-direction: column;
    }
    .card1{
        padding: 0;
        margin: 30px;
    }
    .card1 img{
        width: 112px;
    }
    .title2{
        font-size: 40px;
    }

    .card1 h3{
        font-size: 32px;
        margin-top: 8px;
    }

    .content2{
        justify-content: center;
        flex-direction: column;
        object-fit: cover;
        width: 100%;
        align-items: center;
    }

    .content2{
        justify-content: center;
        flex-direction: column;
        object-fit: cover;
        width: 100%;
        align-items: center;
    }
    .menu_speise{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 16px;
    }

    .menu_speise img{
        width: 200px;
        height: 200px;
    }

    .menu1, .menu2, .menu2{
        flex-direction: column;
    }

    table{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: end;
        color: #675E54;
        font-weight: bold;
        font-size: 24px;
    }

    .menu1 table, .menu3 table{
        margin-left: 0px;
    }
    .menu2 table{
        margin-right: 0px;
    }

    table .title3{
        font-size: 32px;
        margin-left: 80px;
    }

    .footer{
        background-color: #0A141E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 86px;
    }

    .footer .footer_logo{
        width: 40px;
        display: none;
    }
    .footer .logo_img{
        display: block;
        margin-left: 20px;
    }

    .footer ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin-right: 10px;
    }

    .footer ul li img{
        height: 32px;
        width: 32px;
        margin: 10px;
    }

    .find_us{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
        line-height: 35px;
        padding-top: px;
    }
    .find_us h2{
        margin-bottom: 8px !important;
    }
    .find_us p{
        font-weight: 500;
        font-size: 16px;
        margin: 0 0 40px 0;
        padding: 0;
    }

    .find_us p img{
    width: 32px;
    height:32px;
    margin-bottom: -9px;
    }
}
