    <div class="footer" id="footer">
        <img src="images/sakura_logo.png" alt=" Sakura Logo" class="logo_img">
        <img src="images/sakura_ramen_logo_and_text.png" alt=" sakura ramen logo" class="footer_logo">
        <ul>
            <li>
                <a href="https://www.tripadvisor.com/"><img src="images/tripadvisor_logo.png" alt=""></a>
            </li>

            <li>
                <a href="https://www.facebook.com/"><img src="images/facebook_logo.png" alt=""></a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/"><img src="images/instagrram_logo.png" alt=""></a>
            </li>
            <li>
                <a href="imprint">imprint</a>
            </li>
            
        </ul>
    </div>
